body{
	margin : 0;
}


header{
	background-color: green;
	.oh {
		text-align: center;
		display: inline-block;
		padding: 20px;
	}
}


img{
	margin-top: 10px;
	margin-bottom: 2px;
	width: 30%;
}

.main{
	flex-grow: 1;
	.menus .row{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

	}

	.menu{
		width: 30%;
		padding: 20px 20px;
		height: 200px;
		margin: 10px;
		display: flex;
		text-align: center;
		flex-direction: column;
		justify-content: center;
		background-color: #fcdfdb;
	}



	button{
		display: flex;
		margin: auto;
		background-color: green;
		border: 0;
		color: yellow;
		padding : 10px;
		border-radius: 5px;
		text-align: center;

	}

	.but{
		padding-bottom: 60px;
		display: flex;
		justify-content: center;
	}


	.p2{
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 12px;
		img{
			width: 80%;
			padding-bottom: 60px;
		}
	}


}

footer{
	background : green;
	padding-top: 15px;
	padding-bottom: 15px;
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;

	a{
		color: yellow;
	}
}