@font-face {
    font-family:'devonshire';
    src: url('/fonts/Devonshire-FontZillion/devonshire-regular-webfont.eot');
    src: url('/fonts/Devonshire-FontZillion/devonshire-regular-webfont.eot') format('embedded-opentype'),
         url('/fonts/Devonshire-FontZillion/devonshire-regular-webfont.woff') format('woff'),
         url('/fonts/Devonshire-FontZillion/devonshire-regular-webfont.ttf') format('truetype'),
         url('/fonts/Devonshire-FontZillion/devonshire-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	margin : 0;
}


header{
	background-color: #579c87;
	.oh {
		text-align: center;
		display: inline-block;
		padding: 20px;
	}
}


img{
	margin-top: 10px;
	margin-bottom: 2px;
	width: 30%;
}

.main{
	flex-grow: 1;
	.menus .row{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

	}

	.menu{
		width: 30%;
		padding: 20px 20px;
		height: 200px;
		margin: 10px;
		display: flex;
		text-align: center;
		flex-direction: column;
		justify-content: center;
		background-color: #fcdfdb;
		box-shadow: 0 0 10px #c8c8c8;

		.note{
			a{
				font-family:devonshire, arial;
			}
		}
	}



	button{
		display: flex;
		margin: auto;
		background-color: #579c87;
		border: 0;
		color: #fdca45;
		padding : 10px;
		border-radius: 5px;
		text-align: center;

	}

	.but{
		padding-bottom: 60px;
		display: flex;
		justify-content: center;
	}


	.p2{
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 12px;
		img{
			width: 80%;
			padding-bottom: 60px;
		}
	}


}

footer{
	background : #579c87;
	padding-top: 15px;
	padding-bottom: 15px;
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;

	a{
		color: #fdca45;
	}
}


